<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Introduction to Razor Pages</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.9.8" />
    <link rel="stylesheet" href="~/CPSC1517_Ex03_MihiriKamiss.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li> <a asp-area="" asp-page="/Index"><strong>Introduction to Razor Pages</strong></a></li>
                <li><a asp-area="" asp-page="/Index">Home</a></li>
                <li>
                    <span>Samples</span>
                    <ul>
                        <li><a asp-area="" asp-page="/Samples/PersonInfo">Person Info</a></li>
                        <li><a asp-area="" asp-page="/Samples/RoyalFamilyList">Royal Family List</a></li>
                        <li><a asp-area="" asp-page="/Samples/CreateTeams">Create Teams</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Mihiri Kamiss - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>