@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">An Introduction to Razor Pages</h1>
    <p>This is a website for my Application Development course. Navigate to the 'Samples' drop down to view different razor page exercises.</p>
    
</div>
